
; CHANNEL ISLANDS 
; CHANNEL ISLANDS 0 - [TMA] FL 80 - FL 195 Class A Airspace[CTA] FL 55 - FL 80 Class D Airspace (London FIR & Brest FIR)
The 'no build' option has been selected...
500000N 0030000W –493500N 0030000W –500000N 0032000W following the line of latitude to –500000N 0030000W.

; CHANNEL ISLANDS 1 - [TMA] FL 80 - FL 195 Class A Airspace[CTA] 3500 FT ALT - FL 80 Class D Airspace (Brest FIR)
The 'no build' option has been selected...
500000N 0020000W following the line of latitude to –500000N 0014700W –494400N 0020000W –500000N 0020000W.

; CHANNEL ISLANDS 2 - [TMA] FL 80 - FL 195 Class A Airspace[CTR] SFC - FL 80 Class D Airspace (London FIR & Brest FIR)
The 'no build' option has been selected...
500000N 0020000W –493000N 0020000W –490200N 0014000W following the line oflatitude to –490200N 0030000W –500000N 0030000W following the line oflatitude to –500000N 0020000W.
